.navbar-brand{
  color: rgb(242, 14, 166);
}

.jumbotron{
background-color: blueviolet;
background-repeat: no-repeat;
background-size: auto 0;
}

.card-body{
  stroke-width: 0;
}

.footer{
  float: right;
  background-color: aquamarine;
}

.logo{
  float: left;
  height: 20px;
  padding: 10px 0;
  align-items: center;
}

p{
  font-family: neucha;
  font-size: 14pt;
  padding: 10px;
  margin-bottom: -20pt;
}

h1{
  font-family: Oswald;
  font-size: 28pt;
  font-weight: 700;
  color: #081B57;
  padding: 10px;
  margin-bottom: -30px;
  margin-left: 10px;
}

h2{
  font-size: 14pt;
  font-family: Oswald;
  font-weight: 600;
  margin-bottom: -15px;
  padding-left: 10px;
}

h5{
  color:aliceblue;
}


