.navbar-brand{
  color: rgb(19, 9, 128);
}
.jumbotron{
  background-image: url(./photos/slidebackground3.jpg);
  max-width: 100%;
}

.explore{
  max-width: 100%;
}
.lead{
  color: aliceblue;
  width: 60%;
}

.card-body{
  stroke-width: 0;
}

.footer{
  background-color: rgb(19, 9, 128);
  color:aliceblue;
  margin: auto;
  float: right;
}

.logo{
  float: left;
  height: 20px;
  padding: 10px 0;
  align-items: center;
}

p{
  font-family: neucha;
  font-size: 14pt;
  padding: 10px;
  margin-bottom: -20pt;
}

h1{
  font-family: Oswald;
  font-size: 28pt;
  font-weight: 700;
  color: #081B57;
  padding: 10px;
  margin-bottom: -30px;
  margin-left: 10px;
}

h2{
  font-size: 14pt;
  font-family: Oswald;
  font-weight: 600;
  margin-bottom: -15px;
  padding-left: 10px;
}

h5{
  color:aliceblue;
}

.card{
  padding: 10px;
  margin: 10px;
}
